<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobile.myapp">

    <!--    权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.mobile.myapp.activities.OpenAppActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mobile.myapp.activities.UserInfoActivity" />
        <activity android:name="com.mobile.myapp.activities.MainActivity" />

        <!--        图片选择器框架，不用管-->
        <activity android:name="com.yongchun.library.view.ImageSelectorActivity" />
        <activity android:name="com.yongchun.library.view.ImagePreviewActivity" />
        <activity android:name="com.yongchun.library.view.ImageCropActivity" />

        <!--        兼容安卓7闪退问题-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.camera.test"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>